{%- if item.product.has_only_default_variant == false
  or item.properties.size != 0
  or item.selling_plan_allocation != null
-%}
  <ol class="product-option mt-1 text-xs empty:hidden {{ class }}">
    {%- if item.product.has_only_default_variant == false -%}
      {%- for option in item.options_with_values -%}
        <li>{{- option.name }}: {{ option.value }}</li>
      {%- endfor -%}
    {%- endif -%}

    {%- for property in item.properties -%}
      {%- assign property_first_char = property.first | slice: 0 -%}
      {%- if property.last != blank and property_first_char != '_' -%}
        <li>
          {{- property.first }}:
          {%- if property.last contains '/uploads/' -%}
            <a href="{{ property.last }}" target="_blank">
              {{ property.last | split: '/' | last }}
            </a>
          {%- else -%}
            {{ property.last }}
          {%- endif -%}
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ol>

  {% if item.selling_plan_allocation != null %}
    <p class="product-option mt-1.5 text-xs">
      {{ item.selling_plan_allocation.selling_plan.name }}
    </p>
  {% endif %}
{%- endif -%}
