{%- liquid
  assign color_wrapper_class = 'flex flex-wrap gap-2 text-xs items-center'
  assign square_class = 'flex h-20 w-20 items-center justify-center rounded p-1 text-center mb-1'
  assign square_class_full = 'flex h6 mb-0 w-full items-center justify-center rounded p-2 text-center'

  assign primary_colors = 'bg-primary-50 | bg-primary-100 | bg-primary-200 | bg-primary-300 | bg-primary-400 | bg-primary-500 | bg-primary-600 | bg-primary-700 | bg-primary-800 | bg-primary-900' | split: ' | '
  assign secondary_colors = 'bg-secondary-50 | bg-secondary-100 | bg-secondary-200 | bg-secondary-300 | bg-secondary-400 | bg-secondary-500 | bg-secondary-600 | bg-secondary-700 | bg-secondary-800 | bg-secondary-900' | split: ' | '
  assign accent_colors = 'bg-accent-50 | bg-accent-100 | bg-accent-200 | bg-accent-300 | bg-accent-400 | bg-accent-500 | bg-accent-600 | bg-accent-700 | bg-accent-800 | bg-accent-900' | split: ' | '
  assign gray_colors = 'bg-gray-50 | bg-gray-100 | bg-gray-200 | bg-gray-300 | bg-gray-400 | bg-gray-500 | bg-gray-600 | bg-gray-700 | bg-gray-800 | bg-gray-900' | split: ' | '
  assign communication_colors = 'bg-info | bg-success | bg-warning | bg-danger' | split: ' | '
-%}

{% comment %} Base {% endcomment %}
<div class="space-y-8">
  <div class="{{ color_wrapper_class }}">
    {% comment %} BG default {% endcomment %}
    <div>
      <div class="{{ square_class }} border border-gray-200 bg-color-default"></div>
      <p>BG default</p>
    </div>

    {% comment %} BORDER default {% endcomment %}
    <div>
      <div class="{{ square_class }} border border-color-default"></div>
      <p>Border default</p>
    </div>

    {% comment %} Text default {% endcomment %}
    <p class="text-color-default">Text default</p>

    {% comment %} Text light {% endcomment %}
    <p class="text-color-light">Text light</p>

    {% comment %} Text link {% endcomment %}
    <p class="text-color-link">Text link</p>

    {% comment %} Text link-states {% endcomment %}
    <p class="text-color-link-states">Text link-states</p>
  </div>

  {% comment %} Communication colors {% endcomment %}
  <div class="{{ color_wrapper_class }}">
    {%- for color in communication_colors -%}
      {%- liquid
        assign color_capitalized = color | capitalize
        assign color_title = color | remove: 'bg-' | replace: '-', ' ' | capitalize
      -%}

      <div>
        <div class="{{ square_class }} {{ color }}"></div>
        <p>{{- color_title -}}</p>
      </div>
    {%- endfor -%}
  </div>

  {% comment %} Primary {% endcomment %}
  <div class="{{ color_wrapper_class }}">
    <div class="{{ square_class_full }} bg-primary">
      <p class="text-white">Primary</p>
    </div>

    {%- for color in primary_colors -%}
      {%- assign color_title = color | remove: 'bg-' | replace: '-', ' ' | capitalize -%}
      <div>
        <div class="{{ square_class }} {{ color }}" title="Primary {{ color_title }}"></div>
        <p>{{ color_title }}</p>
      </div>
    {%- endfor -%}
  </div>

  {% comment %} Secondary {% endcomment %}
  <div class="{{ color_wrapper_class }}">
    <div class="{{ square_class_full }} bg-secondary">
      <p class="text-white">Secondary</p>
    </div>

    {%- for color in secondary_colors -%}
      {%- assign color_title = color | remove: 'bg-' | replace: '-', ' ' | capitalize -%}
      <div>
        <div class="{{ square_class }} {{ color }}"></div>
        <p>{{ color_title }}</p>
      </div>
    {%- endfor -%}
  </div>

  {% comment %} Accent {% endcomment %}
  <div class="{{ color_wrapper_class }}">
    <div class="{{ square_class_full }} bg-accent">
      <p class="text-white">Accent</p>
    </div>

    {%- for color in accent_colors -%}
      {%- assign color_title = color | remove: 'bg-' | replace: '-', ' ' | capitalize -%}
      <div>
        <div class="{{ square_class }} {{ color }}"></div>
        <p>{{ color_title }}</p>
      </div>
    {%- endfor -%}
  </div>

  {% comment %} Gray {% endcomment %}
  <div class="{{ color_wrapper_class }}">
    <div class="{{ square_class_full }} bg-gray-200" title="Primary">
      <p class="text-black">Gray</p>
    </div>

    {%- for color in gray_colors -%}
      {%- assign color_title = color | remove: 'bg-' | replace: '-', ' ' | capitalize -%}
      <div>
        <div class="{{ square_class }} {{ color }}"></div>
        <p>{{ color_title }}</p>
      </div>
    {%- endfor -%}
  </div>
</div>
