{%- liquid
  assign extra_logo_class = ''
  if section.settings.logo_position == 'center'
    assign extra_logo_class = 'md:flex md:justify-center'
  endif
-%}

{%- capture password_form -%}
  <div class="mx-auto mt-0 w-full max-w-xs">
    {%- if shop.password_message != blank -%}
      <div class="rte mb-4">
        {{- shop.password_message -}}
      </div>
    {%- endif -%}
    {%- form 'storefront_password', class: 'password-form' -%}
      <div class="field">
        <label class="field__label" for="password">
          {%- render 'format-translation',
            namespace: 'general.main_password',
            key: 'login_form_password_placeholder',
            fallback: 'Your password'
          -%}
        </label>
        <input
          type="password"
          name="password"
          id="password"
          class="field__input"
          autocomplete="current-password"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="password-login-form-password-error"
          {%- endif -%}
          placeholder="
            {%- render "format-translation",
              namespace: "general.main_password",
              key: "login_form_password_placeholder",
              fallback: "Your password"
            -%}
          "
          required
        >
        {%- if form.errors -%}
          <div
            id="password-login-form-password-error"
            class="field__message--error field__message mt-3"
            role="status"
          >
            <p class="flex flex-wrap justify-center gap-3 text-sm leading-5 text-danger">
              <span class="sr-only">
                {%- render 'format-translation',
                  namespace: 'accessibility',
                  key: 'error',
                  fallback: 'Error'
                -%}
              </span>
              {%- render 'global-icon', icon: 'error', icon_class: 'size-5 shrink-0' -%}
              {%- render 'format-translation',
                namespace: 'general.main_password',
                key: 'login_form_error',
                fallback: 'Wrong password!'
              -%}
            </p>
          </div>
          {%- comment -%} Reopen when error is after refresh. {%- endcomment -%}
          <script>
            document
              .querySelector('#shopify-section-main-password dialog.password-modal')
              .showModal();
          </script>
        {%- endif -%}
      </div>

      <button type="submit" class="button button--primary button--lg">
        {%- render 'format-translation',
          namespace: 'general.main_password',
          key: 'login_form_submit',
          fallback: 'Enter'
        -%}
      </button>
    {%- endform -%}
    <p class="mt-4 flex flex-wrap justify-center gap-1">
      {%- render 'format-translation',
        namespace: 'general.main_password',
        key: 'admin_link_html',
        fallback: 'Are you the store owner?'
      -%}
      <a href="/admin" class="link">
        {%- render 'format-translation',
          namespace: 'general.main_password',
          key: 'log_in_here',
          fallback: 'Log in here'
        -%}
      </a>
    </p>
  </div>
{%- endcapture -%}

{%- capture title -%}
  {%- render 'format-translation',
    namespace: 'general.main_password',
    key: 'login_form_heading',
    fallback: 'Enter store using password'
  -%}
{%- endcapture -%}

{%- liquid
  assign logo_position = 'justify-center'
  if section.settings.hide_form
    assign logo_position = 'justify-between'
  endif
-%}

<header class="relative z-sticky bg-white">
  <div class="site-center flex flex-wrap items-center gap-4 {{ logo_position }} p-[--site-side-spacing]">
    <h1 class="col-span-6 mb-0 md:col-span-4 {{ extra_logo_class }}">
      {%- render 'global-logo' -%}
    </h1>

    {%- if section.settings.hide_form -%}
      <main-password class="col-span-6 flex justify-end md:col-span-4">
        {%- comment -%} Link to open the login form in a modal {%- endcomment -%}
        <button
          type="button"
          class="button button--link flex items-center p-0"
          aria-haspopup="dialog"
          aria-label="{%- render "format-translation", namespace: "general.main_password", key: "modal", fallback: "Password modal" -%}"
          data-dialog-open
        >
          {%- render 'global-icon', icon: 'padlock', icon_class: 'size-6' -%}
          {%- render 'format-translation',
            namespace: 'general.main_password',
            key: 'login_password_button',
            fallback: 'Enter using password'
          -%}
        </button>

        {%- comment -%} Login form modal {%- endcomment -%}
        <dialog
          class="password-modal"
          data-dialog
        >
          <div
            class="fixed inset-0 z-10 flex flex-col items-center justify-center bg-white bg-opacity-90 backdrop-blur"
            role="dialog"
            aria-labelledby="DialogHeading"
            aria-modal="true"
          >
            <button
              type="button"
              class="modal__close-button button button--link absolute right-0 top-0 z-20 m-[--site-side-spacing] flex h-8 w-8 items-center justify-center bg-transparent p-0"
              aria-label="
                {%- render "format-translation",
                  namespace: "accessibility",
                  key: "close",
                  fallback: "Close"
                -%}
              "
              data-dialog-close
            >
              {%- render 'global-icon', icon: 'close', icon_class: 'size-6 m-0' -%}
            </button>
            <div
              class="password-modal__content relative z-10 grid min-h-0 w-full grid-cols-1 gap-4 overflow-auto px-[--site-side-spacing] py-24 text-center"
            >
              <h2 class="h3 mb-0" id="DialogHeading">
                {{- title -}}
              </h2>
              {{ password_form }}
            </div>
          </div>
        </dialog>
      </main-password>
      <script
        src="{{ 'main-password.js' | asset_url }}"
        type="module"
        data-cookieconsent="ignore"
      ></script>
    {%- endif -%}
  </div>
</header>

{%- unless section.settings.hide_form -%}
  {%- capture content -%}
    {{- password_form -}}
  {%- endcapture -%}
  <div class="flex h-[70vh] flex-col justify-center">
    {%- render 'format-container',
      class: 'text-center',
      title: title,
      title_tag: 'h1',
      title_class: 'h4',
      content: content
    -%}
  </div>
{%- endunless -%}

{% schema %}
  {
    "name": "Password",
    "tag": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "hide_form",
        "label": "Hide the password form",
        "info": "Shows a link to open the password form.",
        "default": false
      }
    ]
  }
{% endschema %}
